In [2]:
import pandas as pd

In [4]:
## import the csv
df = pd.read_csv("data_raw/NLRB_filings.csv")

In [8]:
## Get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53784 entries, 0 to 53783
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      53784 non-null  object
 1   Case Number               53784 non-null  object
 2   City                      53780 non-null  object
 3   States & Territories      53784 non-null  object
 4   Date Filed                53784 non-null  object
 5   Region Assigned           53784 non-null  object
 6   Status                    53784 non-null  object
 7   Date Closed               52892 non-null  object
 8   Reason Closed             52848 non-null  object
 9   No. of Eligible Voters    30392 non-null  float64
 10  No. of Employees          53380 non-null  float64
 11  Certified Representative  20648 non-null  object
 12  Unit Sought               50162 non-null  object
dtypes: float64(2), object(11)
memory usage: 5.3+ MB

In [10]:
## Get beginning rows
df.head()

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
0,"Martignetti Companies of Connecticut, LLC",01-RM-363455,Stratford,CT,04/10/2025,"Region 01, Boston, Massachusetts",Open,NaN,NaN,NaN,63.0,NaN,Included: Full-time and regular part-time driv...
1,"BUCKEYE STATE SEEDING, INC.",09-RC-363492,Williamsport,OH,04/10/2025,"Region 09, Cincinnati, Ohio",Open,NaN,NaN,NaN,2.0,NaN,Included: Administrative/clerical.\n\nExcluded...
2,"Westerly Ambulance Corps, Inc.",01-RC-363485,Westerly,RI,04/10/2025,"Region 01, Boston, Massachusetts",Open,NaN,NaN,NaN,16.0,NaN,"Included: All full-time, part-time, and per-di..."
3,Oldcastle BuildingEnvelope,04-RC-363490,Moorestown,NJ,04/10/2025,"Region 04, Philadelphia, Pennsylvania",Open,NaN,NaN,NaN,7.0,NaN,INCLUDED: All full-time and regular part-time ...
4,"Southern Home Care Services, Inc. d/b/a/ All W...",19-RM-363513,Missoula,MT,04/10/2025,"Region 19, Seattle, Washington",Open - Blocked,NaN,NaN,NaN,200.0,NaN,"Included: All full-time, regular part-time, an..."

In [12]:
## Get sample
df.sample()

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
49964,Image City Interiors,03-RC-011636,Rochester,NY,08/09/2005,"Region 03, Buffalo, New York",Closed,08/19/2005,Withdrawal Non-adjusted,NaN,4.0,NaN,"All Carpenter, carpenter helpers and apprentic..."

In [16]:
# Filter rows by RC to get only union filing petitions
df[df["Case Number"].str.contains("-RC-")]

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
1,"BUCKEYE STATE SEEDING, INC.",09-RC-363492,Williamsport,OH,04/10/2025,"Region 09, Cincinnati, Ohio",Open,NaN,NaN,NaN,2.0,NaN,Included: Administrative/clerical.\n\nExcluded...
2,"Westerly Ambulance Corps, Inc.",01-RC-363485,Westerly,RI,04/10/2025,"Region 01, Boston, Massachusetts",Open,NaN,NaN,NaN,16.0,NaN,"Included: All full-time, part-time, and per-di..."
3,Oldcastle BuildingEnvelope,04-RC-363490,Moorestown,NJ,04/10/2025,"Region 04, Philadelphia, Pennsylvania",Open,NaN,NaN,NaN,7.0,NaN,INCLUDED: All full-time and regular part-time ...
5,The Davey Tree Expert Company,15-RC-363477,Huntingdon,TN,04/10/2025,"Region 15, New Orleans, Louisiana",Open,NaN,NaN,NaN,12.0,NaN,"Included: Foreman, Trimmer, Ground person/Gro..."
6,Uptown Care Center,13-RC-363519,Chicago,IL,04/10/2025,"Region 13, Chicago, Illinois",Open,NaN,NaN,NaN,33.0,NaN,Included: All Full-time and regular part-time ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53779,"Laidlaw Waste Management Systems, Inc.",07-RC-019141,Columbus,OH,11/17/1989,"Region 07, Detroit, Michigan",Closed,06/11/2008,Withdrawal Non-adjusted,NaN,26.0,NaN,Included: All full and part time hourly emplo...
53780,"Daniel F. Allen & Co., Inc.",29-RC-006979,Hicksville,NY,04/15/1988,"Region 29, Brooklyn, New York",Closed,01/08/2008,Withdrawal Non-adjusted,NaN,25.0,NaN,Included: All chauffeurs and helpers\n\nExclu...
53781,New Brighton Manor Care Center,29-RC-006560,STATEN ISLAND,NY,04/21/1986,"Region 29, Brooklyn, New York",Closed,07/11/2007,Withdrawal Non-adjusted,NaN,NaN,NaN,NaN
53782,"Northwind Maintenance & Painting Co., Inc.",29-RC-006343,New York,NY,02/19/1985,"Region 29, Brooklyn, New York",Closed,02/21/2007,Withdrawal Non-adjusted,NaN,15.0,NaN,NaN
53783,"B. R. B. Iron Works, Inc.",29-RC-006167,CORONA,NY,05/07/1984,"Region 29, Brooklyn, New York",Closed,09/10/2007,Withdrawal Non-adjusted,NaN,12.0,NaN,NaN

In [44]:
## Get info for filtered dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40370 entries, 1 to 53783
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      40370 non-null  object
 1   Case Number               40370 non-null  object
 2   City                      40367 non-null  object
 3   States & Territories      40370 non-null  object
 4   Date Filed                40370 non-null  datetime64[ns]
 5   Region Assigned           40370 non-null  object
 6   Status                    40370 non-null  object
 7   Date Closed               39770 non-null  object
 8   Reason Closed             39758 non-null  object
 9   No. of Eligible Voters    25792 non-null  float64
 10  No. of Employees          40179 non-null  float64
 11  Certified Representative  18587 non-null  object
 12  Unit Sought               37984 non-null  object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 4.3+ MB

In [50]:
## Get info from filtered dataset
df.tail()

,Name,Case Number,City,States & Territories,Date Filed,Region Assigned,Status,Date Closed,Reason Closed,No. of Eligible Voters,No. of Employees,Certified Representative,Unit Sought
53779,"Laidlaw Waste Management Systems, Inc.",07-RC-019141,Columbus,OH,1989-11-17,"Region 07, Detroit, Michigan",Closed,06/11/2008,Withdrawal Non-adjusted,NaN,26.0,NaN,Included: All full and part time hourly emplo...
53780,"Daniel F. Allen & Co., Inc.",29-RC-006979,Hicksville,NY,1988-04-15,"Region 29, Brooklyn, New York",Closed,01/08/2008,Withdrawal Non-adjusted,NaN,25.0,NaN,Included: All chauffeurs and helpers\n\nExclu...
53781,New Brighton Manor Care Center,29-RC-006560,STATEN ISLAND,NY,1986-04-21,"Region 29, Brooklyn, New York",Closed,07/11/2007,Withdrawal Non-adjusted,NaN,NaN,NaN,NaN
53782,"Northwind Maintenance & Painting Co., Inc.",29-RC-006343,New York,NY,1985-02-19,"Region 29, Brooklyn, New York",Closed,02/21/2007,Withdrawal Non-adjusted,NaN,15.0,NaN,NaN
53783,"B. R. B. Iron Works, Inc.",29-RC-006167,CORONA,NY,1984-05-07,"Region 29, Brooklyn, New York",Closed,09/10/2007,Withdrawal Non-adjusted,NaN,12.0,NaN,NaN

In [54]:
## Filter df by date date filed
df["Date Filed"] = pd.to_datetime(df["Date Filed"], errors="coerce")

In [56]:
## Filter df by FY 2021 and 2024
df_fy_filtered = df.query(
    "(@pd.to_datetime('2020-10-01') <= `Date Filed` <= @pd.to_datetime('2021-09-30')) or \
     (@pd.to_datetime('2023-10-01') <= `Date Filed` <= @pd.to_datetime('2024-09-30'))"
)

In [60]:
## Get info on new dataset - #s do not match NLRB reports, so something went wrong
df_fy_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3640 entries, 1438 to 11460
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      3640 non-null   object
 1   Case Number               3640 non-null   object
 2   City                      3640 non-null   object
 3   States & Territories      3640 non-null   object
 4   Date Filed                3640 non-null   datetime64[ns]
 5   Region Assigned           3640 non-null   object
 6   Status                    3640 non-null   object
 7   Date Closed               3471 non-null   object
 8   Reason Closed             3471 non-null   object
 9   No. of Eligible Voters    2695 non-null   float64
 10  No. of Employees          3640 non-null   float64
 11  Certified Representative  2132 non-null   object
 12  Unit Sought               3576 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 398.1+ KB

In [62]:
## Put 2021 and 2024 into dataframes
df_2021 = df[df["Date Filed"].dt.year == 2021]
df_2024 = df[df["Date Filed"].dt.year == 2024]

In [64]:
## Get info on df_2021
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1381 entries, 9348 to 11098
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      1381 non-null   object
 1   Case Number               1381 non-null   object
 2   City                      1381 non-null   object
 3   States & Territories      1381 non-null   object
 4   Date Filed                1381 non-null   datetime64[ns]
 5   Region Assigned           1381 non-null   object
 6   Status                    1381 non-null   object
 7   Date Closed               1374 non-null   object
 8   Reason Closed             1374 non-null   object
 9   No. of Eligible Voters    1028 non-null   float64
 10  No. of Employees          1381 non-null   float64
 11  Certified Representative  804 non-null    object
 12  Unit Sought               1350 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 151.0+ KB

In [68]:
## Get info on 2024 - this is also not correct. Something wrong with date formatting?
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2361 entries, 750 to 3971
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      2361 non-null   object
 1   Case Number               2361 non-null   object
 2   City                      2361 non-null   object
 3   States & Territories      2361 non-null   object
 4   Date Filed                2361 non-null   datetime64[ns]
 5   Region Assigned           2361 non-null   object
 6   Status                    2361 non-null   object
 7   Date Closed               2170 non-null   object
 8   Reason Closed             2170 non-null   object
 9   No. of Eligible Voters    1760 non-null   float64
 10  No. of Employees          2361 non-null   float64
 11  Certified Representative  1419 non-null   object
 12  Unit Sought               2329 non-null   object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 258.2+ KB

In [74]:
df["Year"] = df["Date Filed"].dt.year
invalid_years = df[~df["Year"].isin([2021, 2024])]
print(invalid_years)

                                             Name   Case Number  \
1                     BUCKEYE STATE SEEDING, INC.  09-RC-363492
2                  Westerly Ambulance Corps, Inc.  01-RC-363485
3                      Oldcastle BuildingEnvelope  04-RC-363490
5                   The Davey Tree Expert Company  15-RC-363477
6                              Uptown Care Center  13-RC-363519
...                                           ...           ...
53779      Laidlaw Waste Management Systems, Inc.  07-RC-019141
53780                Daniel F. Allen & Co.,  Inc.  29-RC-006979
53781              New Brighton Manor Care Center  29-RC-006560
53782  Northwind Maintenance & Painting Co., Inc.  29-RC-006343
53783                   B. R. B. Iron Works, Inc.  29-RC-006167

                City States & Territories Date Filed  \
1       Williamsport                   OH 2025-04-10
2           Westerly                   RI 2025-04-10
3         Moorestown                   NJ 2025-04-10
5         Huntingdon                   TN 2025-04-10
6            Chicago                   IL 2025-04-10
...              ...                  ...        ...
53779       Columbus                   OH 1989-11-17
53780     Hicksville                   NY 1988-04-15
53781  STATEN ISLAND                   NY 1986-04-21
53782       New York                   NY 1985-02-19
53783         CORONA                   NY 1984-05-07

                             Region Assigned  Status Date Closed  \
1                Region 09, Cincinnati, Ohio    Open         NaN
2           Region 01, Boston, Massachusetts    Open         NaN
3      Region 04, Philadelphia, Pennsylvania    Open         NaN
5          Region 15, New Orleans, Louisiana    Open         NaN
6               Region 13, Chicago, Illinois    Open         NaN
...                                      ...     ...         ...
53779           Region 07, Detroit, Michigan  Closed  06/11/2008
53780          Region 29, Brooklyn, New York  Closed  01/08/2008
53781          Region 29, Brooklyn, New York  Closed  07/11/2007
53782          Region 29, Brooklyn, New York  Closed  02/21/2007
53783          Region 29, Brooklyn, New York  Closed  09/10/2007

                 Reason Closed  No. of Eligible Voters  No. of Employees  \
1                          NaN                     NaN               2.0
2                          NaN                     NaN              16.0
3                          NaN                     NaN               7.0
5                          NaN                     NaN              12.0
6                          NaN                     NaN              33.0
...                        ...                     ...               ...
53779  Withdrawal Non-adjusted                     NaN              26.0
53780  Withdrawal Non-adjusted                     NaN              25.0
53781  Withdrawal Non-adjusted                     NaN               NaN
53782  Withdrawal Non-adjusted                     NaN              15.0
53783  Withdrawal Non-adjusted                     NaN              12.0

      Certified Representative  \
1                          NaN
2                          NaN
3                          NaN
5                          NaN
6                          NaN
...                        ...
53779                      NaN
53780                      NaN
53781                      NaN
53782                      NaN
53783                      NaN

                                             Unit Sought  Year
1      Included: Administrative/clerical.\n\nExcluded...  2025
2      Included: All full-time, part-time, and per-di...  2025
3      INCLUDED: All full-time and regular part-time ...  2025
5      Included:  Foreman, Trimmer, Ground person/Gro...  2025
6      Included: All Full-time and regular part-time ...  2025
...                                                  ...   ...
53779  Included:  All full and part time hourly emplo...  1989
53780  Included:  All chauffeurs and helpers\n\nExclu...  1988
53781                                                NaN  1986
53782                                                NaN  1985
53783                                                NaN  1984

[36628 rows x 14 columns]

In [76]:
# Filter the dataframe for only 2021 and 2024
df_filtered = df[df["Year"].isin([2021, 2024])]

# Check the number of rows for each year
print(f"Number of rows for 2021 and 2024: {df_filtered.shape[0]}")

Number of rows for 2021 and 2024: 3742